{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto mt-5">
                {% include 'includes/alerts.html' %}
                <h5 class="text-danger">{{ form.email.errors }}</h5>
                <h5 class="text-danger">{{ form.non_field_errors }}</h5>
                <h2>Step 1: User Registration form</h2>
                <form action="{% url 'new_employee' %}" method="post">
                    {% csrf_token %}
                    <div class="row mt-3">
                        <div class="col">
                            {{form.first_name}}
                        </div>

                        <div class="col">
                            {{form.last_name}}
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col">
                            {{form.email}}
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col">
                            {{form.phone}}
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col">
                            {{form.password}}
                        </div>

                        <div class="col">
                            {{form.confirm}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col mx-auto">
                            <div id="emailHelp" class="form-text">The password need at least 8 characters long.</div>
                            <div id="emailHelp" class="form-text">At least one character uppercase</div>
                        </div>
                    </div>

                    <div class="d-grid gap-2 mt-3">
                        <button class="btn btn-primary" type="submit">sumit</button>
                    </div>  
                </form>
            </div>
        </div>
    </div>

{% endblock %}