{% extends 'base.html' %}

{% block content %}

{% if request.user.is_admin or request.user.is_superadmin %}

{% else %}
    {% if request.user.is_authenticated %}
        <div class="container-fluid mt-5">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card mt-4">
                        <div class="card-header text-center">
                        Today is, {% now "jS F Y" %}
                        </div>
                        <div class="card-body text-center">
                            <div class="fs-1" id="clock" onload="currentTime()"></div>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                            <div class="d-grid gap-2 col-6 mx-auto">
                                {% if check %}

                                    {% if not timecard.lunch_out %}

                                        {% if not timecard.lunch_in %}
                                            <a href="#" class="btn btn-success">Start Lunch</a>
                                        {% else %}
                                            <a href="#" class="btn btn-secondary">End Lunch</a>
                                        {% endif %}
                                    {% elif timecard.lunch_out %}
                                        {% if not timecard.clock_out %}
                                            <a href="#" class="btn btn-secondary">Clock Out</a>
                                        {% else %}
                                            <button class="btn btn-primary" disabled="disabled">Your done for today, Have a greate Day</button>
                                        {% endif %}
                                    {% endif %}
                                        
                                {% else %}
                                    <a href="{% url 'clock_in' %}" class="btn btn-primary">Clock In</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function currentTime() {
            let date = new Date(); 
            let hh = date.getHours();
            let mm = date.getMinutes();
            let ss = date.getSeconds();
            let session = "AM";
        
            if(hh === 0){
                hh = 12;
            }
            if(hh > 12){
                hh = hh - 12;
                session = "PM";
            }
        
            hh = (hh < 10) ? "0" + hh : hh;
            mm = (mm < 10) ? "0" + mm : mm;function currentTime() {
            let date = new Date(); 
            let hh = date.getHours();
            let mm = date.getMinutes();
            let ss = date.getSeconds();
            let session = "AM";
        
            if(hh === 0){
                hh = 12;
            }
            if(hh > 12){
                hh = hh - 12;
                session = "PM";
            }
        
            hh = (hh < 10) ? "0" + hh : hh;
            mm = (mm < 10) ? "0" + mm : mm;
            ss = (ss < 10) ? "0" + ss : ss;
            
            let time = hh + ":" + mm + ":" + ss + " " + session;
        
            document.getElementById("clock").innerText = time; 
            let t = setTimeout(function(){ currentTime() }, 1000);
        }
        
        currentTime();
        
            document.getElementById("clock").innerText = time; 
            let t = setTimeout(function(){ currentTime() }, 1000);
        }
        
        currentTime();
        </script>
    {% endif %}
{% endif %}

{% endblock %}